@model IEnumerable<Magazine.Models.Article>

@{
    ViewBag.Title = "Quản lý Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .time {
        width: 110px;
        text-align: center;
    }
    .type {
        width: 120px;
        text-align: center;
    }
    .option {
        width: 150px;
        text-align: center;
    }
</style>

<h2>Danh sách bài viết</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th class="time">Ngày đăng</th>
            <th class="type">Thể loại</th>
            <th class="option">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td class="time">@article.PostTime.ToString("dd/MM/yyyy")</td>
                <td class="type">@article.Category.CategoryName</td>
                <td class="option">
                    @Html.ActionLink("Sửa", "Edit", new { id = article.ArticleID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = article.ArticleID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Thêm bài viết mới", "Create", null, new { @class = "btn btn-outline-primary" })
</p>