@model IEnumerable<Magazine.Models.User>

@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách người dùng</h2>

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên người dùng</th>
                <th>Email</th>
                <th>Tên đầy đủ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.Fullname</td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.UserID }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Thêm người dùng mới", "Create", null, new { @class = "btn btn-outline-primary" })
</p>
