@model Magazine.Models.SubCategory

@{ 
    ViewBag.Title = "Chỉnh sửa chuyên mục con";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; 
}

<h2>Chỉnh sửa chuyên mục con</h2>

@using (Html.BeginForm("EditSubCategory", "Category", FormMethod.Post, new { area = "Admin" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SubCategoryID)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        <div class="form-group">
            <div>
                @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Lưu thay đổi</button>
            @Html.ActionLink("Quay lại", "Index", "Category", new { area = "Admin" }, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
}